<div class="stats-container">
  <div class="stats-header">
    <h2 class="stats-titre">Statistiques</h2>

    <div class="toggle-container">
      <input type="radio" id="stat-lieu" name="stat-axe" value="lieu"
            [checked]="axeActuel === 'lieu'"
            (change)="changerAxe($event)">
      <label for="stat-lieu" class="toggle-box">Lieu</label>

      <input type="radio" id="stat-type" name="stat-axe" value="type"
            [checked]="axeActuel === 'type'"
            (change)="changerAxe($event)">
      <label for="stat-type" class="toggle-box">Type</label>
    </div>
  </div>

  @if (chargement) {
    <div class="stats-chargement">Chargement...</div>
  }
  @if (erreur) {
    <div class="stats-erreur">Erreur de connexion à Firebase.</div>
  }

  <div class="stats-chart" [style.display]="chargement ? 'none' : 'block'">
    <canvas #barChart></canvas>
  </div>
</div>