<div class="admin-layout">
  <header class="admin-header">
    <div class="header-brand">
      <img src="icon/IrritantTracker.png" alt="Logo" class="header-logo" />
      <span class="header-title">IrritantTracker</span>
    </div>
    <div class="header-right">
      <span class="header-badge">Admin</span>
    </div>
  </header>

  <main class="admin-main">

    <div class="row">
      <div class="col-2tiers">
        <app-kanban></app-kanban>
      </div>
      <div class="col-1tiers">
        <app-recent-changes></app-recent-changes>
      </div>
    </div>

    <div class="row">
      <div class="col-moitie">
        <app-stats></app-stats>
      </div>
      <div class="col-moitie">
        <app-referentiel></app-referentiel>
      </div>
    </div>

  </main>
</div>